{% include base_path %}

{% if post.header.teaser %}
{% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
{% assign teaser = site.teaser %}
{% endif %}
{% if post.id %}
{% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
{% assign title = post.title %}
{% endif %}

<div class="blog-card">
  <div class="meta">
    {% if post.image %}
      <div class="photo" style="background-image:url('{{post.image}}')"></div>
    {% endif %}
    {% if post.href %}
    <ul class="details" onclick='(()=>{location.href="{{post.href}}"})()'>
      {% else %}
      <ul class="details">
        {% endif %}
      </ul>
  </div>
  <div class="description">
    <h1>{{post.title}}</h1>
    <p> {{post.excerpt}}</p>
    <p class="see-more">
      {% if post.href %}
      <a href="{{ post.href }} ">See More</a>
      {% endif %}
    </p>
  </div>
</div>